<a href="https://colab.research.google.com/github/Beccacec/FDS-Final-Project/blob/Lorenzo/FDS_final_project_Lorenzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import csv
import pandas as pd

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

We select specific features in order to find out which of them can affect the price of the property.
So we choose features like "id", "name", "neighbourhood" (because some of them are not in specifically in the city of Rome"), "price" and others that seemed interesting for this analysis.

In [29]:
features_price = ["id","name","neighbourhood","neighbourhood_cleansed","latitude","longitude","property_type","room_type","bedrooms","beds","amenities","price","number_of_reviews_ltm","review_scores_rating"]

In [30]:
df = pd.read_csv("/content/drive/MyDrive/FDS_final_project/listings.csv", usecols = features_price)
df.head()

,id,name,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,bedrooms,beds,amenities,price,number_of_reviews_ltm,review_scores_rating
0,17629440,ISOLA DEL CUORE,"Ciampino, Lazio, Italy",VII San Giovanni/Cinecittà,41.78984,12.60899,Private room in rental unit,Private room,1.0,1.0,"[""Heating"", ""Shampoo"", ""Cleaning products"", ""H...",$45.00,8,4.74
1,2737,"Elif's room in cozy, clean flat.","Rome, Lazio, Italy",VIII Appia Antica,41.87136,12.48215,Private room,Private room,1.0,1.0,"[""First aid kit"", ""Heating"", ""Elevator"", ""Wifi...",$50.00,0,4.80
2,103870,CASACHICA Your holiday home in Rome,NaN,I Centro Storico,41.89711,12.50423,Entire rental unit,Entire home/apt,1.0,2.0,"[""Air conditioning"", ""Heating"", ""Lockbox"", ""Mi...",$78.00,30,4.11
3,2903,Stay a night in Calisto6 B&B Rome,NaN,I Centro Storico,41.88824,12.46953,Private room in bed and breakfast,Private room,1.0,2.0,"[""Air conditioning"", ""First aid kit"", ""Heating...",$164.00,0,4.28
4,104339,Colorful apartment close MetroB,"Rome, Lazio, Italy",VIII Appia Antica,41.85585,12.48361,Entire rental unit,Entire home/apt,1.0,2.0,"[""Heating"", ""Paid parking off premises"", ""Lugg...",$80.00,0,5.00

Deleting NaN values in the dataframe

In [36]:
df = df.dropna()
df.dropna()

,id,name,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,bedrooms,beds,amenities,price,number_of_reviews_ltm,review_scores_rating
0,17629440,ISOLA DEL CUORE,"Ciampino, Lazio, Italy",VII San Giovanni/Cinecittà,41.78984,12.60899,Private room in rental unit,Private room,1.0,1.0,"[""Heating"", ""Shampoo"", ""Cleaning products"", ""H...",$45.00,8,4.74
1,2737,"Elif's room in cozy, clean flat.","Rome, Lazio, Italy",VIII Appia Antica,41.87136,12.48215,Private room,Private room,1.0,1.0,"[""First aid kit"", ""Heating"", ""Elevator"", ""Wifi...",$50.00,0,4.80
4,104339,Colorful apartment close MetroB,"Rome, Lazio, Italy",VIII Appia Antica,41.85585,12.48361,Entire rental unit,Entire home/apt,1.0,2.0,"[""Heating"", ""Paid parking off premises"", ""Lugg...",$80.00,0,5.00
5,3079,Cozy apartment (2-4)with Colisseum view,"Rome, Lazio, Italy",I Centro Storico,41.89500,12.49117,Entire rental unit,Entire home/apt,1.0,1.0,"[""Heating"", ""Paid parking off premises"", ""Lugg...",$90.00,2,4.53
7,12398,Casa Donatello - Home far from Home,"Rome, Lazio, Italy",II Parioli/Nomentano,41.92582,12.46928,Entire rental unit,Entire home/apt,2.0,3.0,"[""50\"" HDTV with standard cable"", ""Heating"", ""...",$75.00,1,4.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24774,35445595,CIACCIO HOUSE Near Airport,"Isola Sacra, Lazio, Italy",X Ostia/Acilia,41.76746,12.26133,Entire rental unit,Entire home/apt,2.0,2.0,"[""Air conditioning"", ""Heating"", ""Free parking ...",$120.00,76,4.94
24775,29678754,Villaggio naif Mimosa,"Monterotondo, Lazio, Italy",III Monte Sacro,42.04064,12.60330,Entire bungalow,Entire home/apt,1.0,1.0,"[""BBQ grill"", ""Air conditioning"", ""Heating"", ""...",$65.00,0,5.00
24777,28042301,Bright apartment close to the seaside.,"Torvaianica, Lazio, Italy",X Ostia/Acilia,41.64897,12.43349,Entire rental unit,Entire home/apt,1.0,2.0,"[""Hot water"", ""Refrigerator"", ""Heating"", ""Dish...",$55.00,2,4.53
24778,41256298,Nativo Suite Da Vinci 25,"Fiumicino, Lazio, Italy",X Ostia/Acilia,41.79978,12.30112,Entire rental unit,Entire home/apt,1.0,1.0,"[""Private entrance"", ""Hot water"", ""Air conditi...",$120.00,0,5.00
24781,29825122,Moonlight attic/mansarda. Close to the airport,"Marino, Lazio, Italy",IX Eur,41.76746,12.60842,Entire rental unit,Entire home/apt,2.0,2.0,"[""Air conditioning"", ""Heating"", ""Coffee maker""...",$40.00,11,4.50